# Python==3.7
# 没有标识版本的依赖默认为最新版本
numpy
py2neo
transformers
protobuf==3.20.*
tensorflow-gpu==1.14.0
torch
pandas
xgboost==1.6.2
gensim==3.8.3
tqdm
jieba
smartopen # 可选
synonyms
scikit-learn
pymysql
xlrd
